<div class="container">
  <h1>{{ title }}</h1>
  <div class="input-group">
    <input
      type="text"
      [(ngModel)]="newTodo"
      placeholder="Enter new todo"
      (keyup.enter)="addTodo()"
    />
    <button (click)="addTodo()">Add Todo</button>
  </div>
  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <input
        type="checkbox"
        [(ngModel)]="todo.completed"
        (change)="toggleTodo(todo)"
      />
      <span [class.completed]="todo.completed">{{ todo.title }}</span>
      <button (click)="removeTodo(todo)">Delete</button>
    </li>
  </ul>
</div>
